<html lang="pt-BR">
<head>
    <title>AngularJS $Http service tutorial example</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="MainCtrl">
        {{hello}}
    </div>
    <div ng-controller="UserCtrl">
        <p class="username">Bem-vindo, {{ user.details.username }}</p>
        <p class="id">ID do usuário: {{ user.details.id }} </p>       
        <p class="id">Nome do usuário: {{ user.details.nome }} </p>  
        <p>Boletim:</p>     
        <table>
        <tr ng-repeat="disciplina in user.disciplinas">
          <td><strong>{{ disciplina.nome }}</strong></td>
          <td>{{ disciplina.faltas }}</td>
          <td>{{ disciplina.media }}</td>
        </tr>
        </table>

    </div>
</div>
<script type="text/javascript" src='mainController.js'></script>
<script type="text/javascript" src='userController.js'></script>
</body>
</html>