<html lang="pt-BR">

<head>
  <title>AngularJS $Http service tutorial example</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>

<body>
  <h1>Two-way Data Binding</h1>
  <div ng-app="myApp">
    <div ng-controller="MainCtrl">
      <input type="text" ng-model="myModel" placeholder="Digite algo...">
        <p>Meu modelo de dado: {{ myModel }}</p>
    </div>

  </div>
  <script type="text/javascript" src='myApp.js'></script>
</body>

</html>
