<!DOCTYPE html>
<html ng-app>
<head>
  <title>Number Divisor</title>
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.4/angular.min.js"></script>
</head>
<body>
<li ng-repeat="number in [1,2,3,4,5,6,7,8,9]">
  {{ number }}
</li>
<br>
<li ng-repeat="aluno in ['Maria','Carla','Antonio','Alberto','Sonia']">
  {{ aluno | }}
</li>
</body>
</html>
