<html lang="pt-BR">

<head>
  <title>AngularJS $Http service tutorial example</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>

<body>
  <h1>XHR/Ajax/$http chamadas e ligação JSON</h1>
  <div ng-app="myApp">
    <div ng-controller="MainCtrl">
      <p>{{ usuario.nome }}</p>
      <p>{{ usuario.email }}</p>
    </div>

  </div>
  <script type="text/javascript" src='myApp.js'></script>
</body>

</html>
