<html lang="pt-BR">

<head>
  <title>AngularJS $Http service tutorial example</title>
  <meta charset="utf-8">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>

<body>
  <h1>Filtros</h1>
  <div ng-app="myApp">
    <div ng-controller="MainCtrl">
      <p>Sem filtro: {{ greeting }}</p>
      <p>String Reversa: {{ greeting | reverse }}</p>

      <h3>Valores originais:</h3>
      <li ng-repeat="number in numbers">
        {{ number }}
      </li>
      </ul>

      <h3>Valores filtrados (>{{lowerBound}}):</h3>
      <li ng-repeat="number in numbers | filter: greaterThanNum">
        {{ number }}
      </li>
      </ul>
    </div>

  </div>
  <script type="text/javascript" src='myApp.js'></script>
  <script type="text/javascript" src='myFilter.js'></script>
</body>

</html>
