<html lang="pt-BR">
<head>
    <title>AngularJS $Http service tutorial example</title>
    <meta charset="utf-8">
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.5/angular.min.js"></script>
</head>
<body>
<div ng-app="myApp">
    <div ng-controller="MainCtrl">
        {{hello}}
    </div>
    <div ng-app = "myApp" ng-controller = "CalcController">
        <h2>Exemplo de uso de Service</h2>
        <h3>Digite um número para elevar ao quadrado</h3>
        <p>Digite um numero: <input type = "number" ng-model = "number" /></p>
        <button ng-click = "square()">X<sup>2</sup></button>
        <p>Resultado: {{result}}</p>
     </div>
     <div ng-app = "myApp" ng-controller = "CalcController">
         <h2>Exemplo de uso de Factory</h2>
         <h3>Digite um número para elevar ao quadrado</h3>
         <p>Digite um numero: <input type = "number" ng-model = "number"  /></p>
        <button ng-click = "quadrado()">X<sup>2</sup></button>
        <p>Resultado: {{result}}</p>
     </div>


</div>
<script type="text/javascript" src='myApp.js'></script>
<script type="text/javascript" src='myFActory.js'></script>
<script type="text/javascript" src='mainController.js'></script>
<script type="text/javascript" src='calcController.js'></script>
</body>
</html>